body{
  padding:0 px;
  color: #33FF3B;
  overflow: hidden;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 35% 20%;
  cursor: pointer;
    position: absolute;
  top: 18%;
  left: 26%;
  transform: translate(-50%, -50%);
}

.video {
  position: relative;
  text-align: center;
  color: white;
}