body{
  padding:0 px;
  color: #33FF3B;
}

#myVideo {
  position: relative;
  padding: 0px 0px;
width: 100%;
height: 100%;
object-fit: cover;

  z-index: -2;


}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: -1;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
#title{
  margin-left: 620px;
  position:fixed;
  z-index: =1;
    background-color: #33FFEE;
  width: 60%;

}
.cog{
  margin-left: 10px;
    background-color: #33FFEE;
      text-align: center;


}
.cog:hover{
  background-color:  #33FFE8;

  text-align: center;

}
.reg{
  position:absolute;
right: 700px;
top: 500px;


    z-index: =1;

}
.io{
  padding: 3% 3% 3% 3%;
}
